* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.dog-image {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.top_three_container {
  display: flex;
  flex-direction: start;
}

.top_three_labels {
  margin-top: 3rem;
}

.dog-image_top_three {
  object-fit: cover;
  width: 250px;
  height: 250px;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.top-row {
  display: flex;
  flex-direction: row;
}

.top-row-item {
  padding: 1rem;
}
